<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/"> 
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/">
            <i class="material-icons">
                sports_handball
            </i>
            <i class="material-icons">
                rowing
            </i>
            <i class="material-icons">
                directions_run
            </i>
            <i class="material-icons">
                surfing
            </i>
            <i class="material-icons">
                sports_soccer
            </i>
            Olimpiadas
        </a>
    </span>
</mat-toolbar>
