.header {
    display: flex;
    align-items: center;
    background-color: rgb(144, 236, 159);
    padding: 48px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header .logo {
    margin-top: 4px;
    max-height: 78px;
}

.header .title-group {
    padding-left: 25px;
    font-weight: 500;
    font-size: 2.1rem;
}

.header .title-group i {
    padding-right: 10px;
    font-size: 2.1rem;
}