<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Jogos Olímpicos de Tokyo 2021
    </mat-card-title>
    <div >
        <span>
            <a routerLink="/">
                <img  class="img1 mat-elevation-z0" src="assets/img/monumento-do-simbolo-olimpico-2020-1.jpg" alt="simbolo-olimpico">
            </a>
        </span>
        <span>
            <a routerLink="/">
                <img  class="img-olimpica-home mat-elevation-z4" src="assets/img/olimpiadas2021.jpeg" alt="simbolo-olimpico">
            </a>
        </span>
        <span>
            <a routerLink="/">
                <img  class="img-olimpica-home mat-elevation-z4" src="assets/img/Jogos-Olimpicos.jpeg" alt="simbolo-olimpico">
            </a>
        </span>
    </div>
    <mat-card-subtitle class="subtitle ">
        As Olimpíadas 2020 foram realizadas entre os dias 23 de julho e 8 de agosto
        de 2021, na cidade de Tóquio, capital do Japão. A sede da XXXII Olimpíada ou
        dos Jogos Olímpicos de Verão de 2020 foi escolhida no dia 7 de setembro de
        2013, durante a 125ª Sessão do Comitê Olímpico Internacional (COI), na Argentina.
    </mat-card-subtitle>
</mat-card>